body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #222;
    color: white;
    padding: 30px;
    text-align: center;
}

section {
    padding: 20px;
    background: white;
    margin: 15px;
    border-radius: 8px;
}

h3 {
    color: #333;
}

.project a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}
